.idea
.code
*.log

copyq_tab*.dat
copyq.lock
copyq.pub

.variables/*
!.variables/.gitkeep

vscode/History
vscode/globalStorage
vscode/workspaceStorage

.env
.env.*
!.env.example

.logs/*
!.logs/.gitkeep

\!*

config.ts
!config.ts.example
