@define-color foreground #CDD6F4;
@define-color background rgba(30, 30, 46, 0.75);
@define-color selection_foreground #1E1E2E;
@define-color selection_background #F5E0DC;

@define-color cursor #F5E0DC;
@define-color cursor_text_color #1E1E2E;
@define-color url_color #F5E0DC;
@define-color active_border_color #B4BEFE;
@define-color inactive_border_color #6C7086;
@define-color bell_border_color #F9E2AF;

@define-color active_tab_foreground #11111B;
@define-color active_tab_background #CBA6F7;
@define-color inactive_tab_foreground #CDD6F4;
@define-color inactive_tab_background #181825;
@define-color tab_bar_background #11111B;

@define-color mark1_foreground #1E1E2E;
@define-color mark1_background #B4BEFE;
@define-color mark2_foreground #1E1E2E;
@define-color mark2_background #CBA6F7;
@define-color mark3_foreground #1E1E2E;
@define-color mark3_background #74C7EC;

@define-color color0 #45475A;
@define-color color8 #585B70;

@define-color color1 #F38BA8;
@define-color color9 #F38BA8;

@define-color color2 #A6E3A1;
@define-color color10 #A6E3A1;

@define-color color3 #F9E2AF;
@define-color color11 #F9E2AF;

@define-color color4 #89B4FA;
@define-color color12 #89B4FA;

@define-color color5 #F5C2E7;
@define-color color13 #F5C2E7;

@define-color color6 #94E2D5;
@define-color color14 #94E2D5;

@define-color color7 #BAC2DE;
@define-color color15 #A6ADC8;




* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-style: normal;
    min-height: 0;
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 0;
}

window#waybar {
    background: @background;
    border-top: 1px solid @color8;
    border-radius: 0;
}

.modules-left,
.modules-center,
.modules-right {
    margin: 5px 0;
}

tooltip {
    background: @background;
    border-radius: 10px;
}

tooltip label {
    border: #F38BA8 1px solid;
    border-radius: 5px;
    color: @foreground;
    padding: 5px 10px;
}

#workspaces button {
    color: @color8;
    padding: 2px;
}

#workspaces button.active {
    color: @color4;
}

#workspaces button:hover {
    color: @color6;
}

#clock,
#battery,
#temperature,
#pulseaudio,
#wireplumber,
#mode,
#tray,
#backlight,
#mpd,
#bluetooth,
#taskbar,
#taskbar button,
#workspaces,
#window,
#custom-playerlabel,
#custom-updater,
#custom-wallpapers,
#custom-notification,
#custom-wireguard-manager,
#language,
#custom-language {
    color: @foreground;
    padding: 0 8px;
}

#custom-notification {
    padding: 0 14px;
}

#custom-wireguard-manager {
    padding: 0 4px;
}

#custom-playerlabel,
#window {
    color: @foreground;
}
#clock,
#custom-language {
    color: @color3;
}

#battery,
#backlight,
#pulseaudio,
#custom-updater {
    color: @color5;
}

#window {
    font-weight: normal;
    font-style: normal;
}

#waybar.empty #window {
    padding: 0;
    margin: 0;
}

#custom-playerlabel {
    font-weight: normal;
    font-style: normal;
}

#temperature.critical {
    background-color: @color1;
}

@keyframes blink {
    to {
        color: @color0;
    }
}

#battery.critical:not(.charging) {
    color: @color9;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
