* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-style: normal;
    min-height: 0;
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(24, 25, 38, 0.6);
    border-radius: 16px;
    padding: 3px 2.5px;
    border: 1px solid rgba(245, 194, 231, 0.25);
}

tooltip {
    background: rgba(24, 25, 38, 0.8);
    border-radius: 10px;
}

tooltip label {
    padding: 5px 10px;
    border: #9d8c98 1px solid;
    border-radius: 5px;
    color: #c7aebb;
    font-size: 14px;
}

#workspaces button {
    color: #d4b6cc;
    padding: 2px;
}

#workspaces button.active {
    color: #cdd6f4;
}

#workspaces button:hover {
    color: #d9a8c6;
}

#clock,
#upower,
#battery,
#temperature,
#pulseaudio,
#wireplumber,
#mode,
#tray,
#backlight,
#mpd,
#bluetooth,
#taskbar,
#taskbar button,
#workspaces,
#window,
#language,
#custom-notification,
#custom-cloudflare-warp,
#custom-playerlabel,
#custom-pacman,
#custom-language,
#custom-wireguard,
#custom-weather {
    color: #c7aebb;
    padding: 0 8px;
}

#custom-wireguard {
    padding: 0 0 0 2px;
}

#custom-notification {
    padding: 0 10px;
}

#custom-playerlabel,
#window {
    color: #c7aebb;
}
#clock,
#custom-language {
    color: #f3d1a2;
}

#upower,
#battery,
#backlight,
#pulseaudio {
    color: #efc4bc;
}

#window {
    font-weight: normal;
    font-style: normal;
}

#waybar.empty #window {
    padding: 0;
    margin: 0;
}

#custom-playerlabel {
    font-weight: normal;
    font-style: normal;
}

#temperature.critical {
    background-color: #f38ba8;
}

@keyframes blink {
    to {
        color: #45475a;
    }
}

#battery.critical:not(.charging) {
    color: #f38ba8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
