* {
    font-family: "JetBrainsMono Nerd Font";
    font-weight: normal;
    font-style: normal;
    min-height: 0;
    font-size: 100%;
    font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
    padding: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 0);
}

.modules-left,
.modules-center,
.modules-right {
    background: rgba(24, 25, 38, .8);
    border-radius: 16px;
    padding: 2.5px 2.5px;
    border: 1px solid rgba(245, 194, 231, 0.25);
}

tooltip {
    background: rgba(24, 25, 38, .8);
    border-radius: 10px;
}

tooltip label {
    border: #9D8C98 1px solid;
    border-radius: 5px;
    color: #C7AEBB;
    padding: 5px 10px;
}

#workspaces button {
    color: #D4B6CC;
    padding: 2px;
}

#workspaces button.active {
    color: #D9A8C6;
}

#workspaces button:hover {
    color: #D9A8C6;
}

#clock,
#battery,
#temperature,
#pulseaudio,
#wireplumber,
#mode,
#tray,
#backlight,
#mpd,
#bluetooth,
#taskbar,
#taskbar button,
#workspaces,
#window,
#custom-playerlabel,
#custom-notification,
#language,
#custom-language {
    color: #C7AEBB;
    padding: 0 8px;
}

#custom-notification {
    padding: 0 10px;
}

#custom-playerlabel,
#window {
    color: #C7AEBB;
}
#clock,
#custom-language {
    color: #F3D1A2;
}

#battery,
#backlight,
#pulseaudio {
    color: #EFC4BC;
}

#window {
    font-weight: normal;
    font-style: normal;
}

#waybar.empty #window {
    padding: 0;
    margin: 0;
}

#custom-playerlabel {
    font-weight: normal;
    font-style: normal;
}

#temperature.critical {
    background-color: #F38BA8;
}

@keyframes blink {
    to {
        color: #45475A;
    }
}

#battery.critical:not(.charging) {
    color: #F38BA8;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
