[Desktop Entry]
Name=Project
Comment=Select and open project in VSCode
GenericName=Text Editor
Exec=kitty --single-instance --class "kitty-project" /home/yabai/Projects/qshell/build/qshell -a -c 'exec /usr/bin/code --new-window "$($Dotfiles/scripts/project)" &>/dev/null'
Icon=/opt/visual-studio-code/resources/app/resources/linux/code.png
Type=Application
StartupNotify=false
StartupWMClass=Code
Categories=TextEditor;Development;IDE;
MimeType=text/plain;inode/directory;application/x-code-workspace;
Keywords=vscode;
